
body{
    background-color: #000000;
    font-family: "Lato", sans-serif;
}

/*Cadastro*/
h2{
    font-size:2rem;
    text-align:center;
    padding:1rem;
    color: #56175C;
   }
   .Cadastro{
   margin: 0rem 0rem 10rem 15rem;
   padding:1rem;
   width: 50rem;
   background-color: white;
   }
   #cads{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
   }
   .nomes {
    padding: 2rem;
   }
   #final{
    padding: 2rem;
   }
   .btnn {
    background-color:#8381f5;
    padding:5px 5px;
    font-size: 1.5rem;
    border-radius: 8px;
    color:black;
}
   label{
      color: #56175C;
      font-size: 1.3rem;
   }
   /*Cadastro*/
   @media (max-width: 600px) {
    .Cadastro{
        margin: 0rem 0rem 15rem 2rem;
        padding:20px;
        width: 20rem;
        background-color: white;
        }
        h2{
            font-size:1.5rem;
            text-align:center;
            padding:20px;
            color: #56175C;
           }
        .btnn {
            background-color:#8381f5;
            padding:5px 5px;
            font-size: 1.5rem;
            border-radius: 8px;
            color:black;
        }
           label{
              color: #000000;
              font-size: 1.3rem;
           }
  }
   