@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Averia+Libre&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  color: #6e6e6e;
  min-width: 320px;
  scrollbar-gutter: auto;
}
/*Navbar*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  position: absolute;
  width: 8px;
  background: #6e6e6e;
  transition: border-radius 1s;
  margin-top: 40px;
}

::-webkit-scrollbar-thumb {
  background: #a868d3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.fb2022-copy {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #a868d3;
}

nav .cv-download {
  color: #0e0e0e;
  border: none;
  background-color: #a868d3;
  padding: 15px 20px;
}

.fa-cloud-arrow-down {
  margin-right: 10px;
}

input,
textarea {
  border-radius: 0px;
  padding-left: 0px !important;
  color: #b1b1b1 !important;
}

input:focus,
textarea:focus {
  outline: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-outline-success {
  border-radius: 0px;
  color: white;
  font-weight: 600;
}

.btn-outline-success img {
  width: 10px;
}

.btn-outline-success:hover {
  background-color: #a868d3;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 800;
  color: #222222;
}
h3,
h4,
h5,
h6 {
  color: #222222;
  font-weight: 600;
}
.green {
  color: #a868d3;
  font-size: 30px;
  font-weight: 900;
}
.white {
  color: rgba(177, 177, 177, 0.878);
}
.navbar {
  background-color: black;
  grid-gap: 25px;
}

.scroll-progress-track {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 5px;
  background-color: transparent;
}

#progress-bar {
  height: 5px;
  background-color: #a868d3;
  width: 0%;
}

.navbar-links {
  height: 80px;
}
#logo {
  width: 10rem;
  height: 4rem;
}
.navbar-collapse .nav-link {
  font-size: 20px;
  font-family: "Koulen";
  letter-spacing: 1px;
  color: #a868d3 !important;
  border: 2px solid #a868d3;
  border-radius: 15px;
  box-shadow: 10px 10px 30px #1d1d1d50, -10px -10px 30px #27272750;
  cursor: pointer;
}

.scroll-progress-track {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 5px;
  background-color: transparent;
}

#progress-bar {
  height: 5px;
  background-color: #a868d3;
  width: 0%;
}
.bt-log {
  height: 40px;
  text-align: start;
  margin-bottom: 5px;
  color: #56175C;
  background-color: black;
}

.bt-log:hover {
  background-color: #56175C;
}
/*Navbar*/

/*tela*/
#box-1 .mostrar,
#box-1 .hide-action,
#box-2 .mostrar,
#box-2 .hide-action {
     display: none;
}
#box-1:target .mostrar,
#box-1:target .hide-action,
#box-2:target .mostrar,
#box-2:target .hide-action {
     display: block;
}
#box-1:target .show-action,
#box-2:target .show-action
{
     display: none;
}
/*tela*/

/*CONTEUDO*/
.conteudo {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 30px;
}
.bt-user{
  color: #1A2915;
}
.bt-user:hover{
  background-color: #DDD3CA;
  border: solid #DDD3CA 2px;
}

.cont-fixed{
  max-height: calc(100vh - 212px);
}

section{
  overflow-y: auto;
  min-height: calc(100vh - 665px);
}

article{
  margin-bottom: 40px;
}

.tx{
  color: #1A2915;
  text-decoration: none;
}
.tx:hover{
  color: white;
}

.coment{
  background-color: #e9e9e9;
  border-radius: 20px;
  padding: 20px;
}

.coment-form{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
}

@media screen  and (max-width: 1200px){
aside{
  display: none;
}    
}
/*CONTEUDO*/
/*tela*/
  
/*Desafio*/

/*Desafio*/

